#sideBar-container {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: start;
  flex-direction: column;
  // box-shadow: 1px 1px 5px 1px #faf4f4;
  padding: 15px;
  box-sizing: border-box;
  background: #f4f4f4;
  border-radius: 10px;
  #sideBar-title {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 25px;
    height: 8%;
    font-weight: bold;
    color: #444444;
  }
  #sideBar-content {
    flex-grow: 1;
    font-size: 20px;
    .button {
      font-size: 20px;
      text-align: left;
      margin-top: 20px;
      padding: 5px;
      box-sizing: border-box;
      box-shadow: 1px 1px 5px 1px #faf4f4;
      transition: 0.3s all;
      border-radius: 5px;
      color: #444444;
      &:hover {
        background: #ebebeb;
        cursor: pointer;
        color: #000;
        // transform: scale(1.03);
      }
    }
  }
}
